name: Automated Retraining Pipeline

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 1"

jobs:
  retrain:
    runs-on: ubuntu-latest
    env:
      MLFLOW_TRACKING_URI: sqlite:///mlflow.db

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install mlflow==2.9.2 fastapi uvicorn pydantic evidently==0.4.30 scikit-learn pandas numpy xgboost
      - name: Run drift detection
        run: python src/drift_detector.py

      - name: Run retraining pipeline
        run: python src/retrain_pipeline.py